@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@400;500;700&family=Ubuntu:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fbb141;
  --title-color: #8ac33b;
  --text-color: #58703b;
  --border-color: #b59051;

  --title-font: 'Dancing Script', cursive;

  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #707e52;
  color: var(--text-color);
}

.container {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

header {
  background-color: #58703b;
  height: 8rem;
  align-items: center;
  margin-bottom: 2rem;
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

header .container img {
  width: 6rem;
}

header .container h1 {
  font-size: 4rem;
  font-family: var(--title-font);
  color: var(--primary-color);
}

section h2 {
  font-family: var(--title-font);
  font-size: 3rem;
  color: var(--title-color);
  display: block;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1.5rem;
}

.filtro {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 1rem;
}

.filtro label {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--border-color);
  padding-inline: 1rem;
}

#filtrar-tabela {
  width: 30rem;
  height: 3.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.8rem;
  padding-left: 1rem;
}

#filtrar-tabela::placeholder {
  color: var(--border-color);
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

table {
  width: 100%;
  margin-bottom: 1.5rem;
  table-layout: fixed;
}

td,
th {
  padding: 0.7rem;
  margin: 0;
  border: 1px solid var(--border-color);
  text-align: center;
}

th {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  background-color: var(--primary-color);
}

td {
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  padding-inline: 1rem;
  padding-block: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  color: whitesmoke;
  background-color: var(--title-color);
  width: auto;
  margin-block: 1rem;

  transition: 400ms;
}

button:hover {
  background-color: var(--text-color);
}

#buscar-paciente {
  margin-block: 2rem;
}

.fadeOut {
  opacity: 0;
  transition: 0.5s;
}

.invisivel {
  display: none;
}
